*{
  margin: 0;
  padding: 0;
}
body{
  background: #f9f9f9;
  font-family: tahoma, arial, sans-serif;
}
.wrapper{
  margin: 0 auto;
  padding: 0 45px;
  width: 970px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(153,153,153,1);
  box-shadow: 0px 0px 4px 0px rgba(153,153,153,1);
}

/*HEADER*/

.header{
  padding-top: 50px;
  margin-bottom: 40px;
}

.menu{
position: relative;
overflow: hidden;
margin-top: 40px;
background: #484848; /* Old browsers */
background: -moz-linear-gradient(top,  #484848 0%, #595959 100%, #303030 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #484848 0%,#595959 100%,#303030 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #484848 0%,#595959 100%,#303030 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.menu li{
  float: left;
  list-style: none;
}

.menu a{
  display: block;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  padding: 0 40px;
  font-size: 15px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.menu a:hover{
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  background: #343434; /* Old browsers */
  background: -moz-linear-gradient(top,  #343434 0%, #363636 100%, #303030 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #343434 0%,#363636 100%,#303030 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #343434 0%,#363636 100%,#303030 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*CONTENT*/
.content{
  position: relative;
  overflow: hidden;
}

.sidebar{
  float: left;
  width: 240px;
}
.sidebar-menu{
  border: 1px solid #c8c8c8;
}
.sidebar-menu li{
  border-top: 1px solid #c8c8c8;
}
.sidebar-menu li:first-child{
  border: none;
}
.sidebar-menu a{
  display: block;
  padding-left: 20px;
  line-height: 40px;
  color: #636363;
  text-decoration: none;
}
.sidebar-menu a:hover{
  padding-left: 35px;
  background: #f9f9f9;
}
.product{
  float: right;
  width: 680px;
}
.product-img{
  padding: 40px 0;
  border: 1px solid #c8c8c8;
  text-align: center;
}
.description{
  padding: 30px 20px 0 20px;
  line-height: 21px;
  font-size: 13px;
  color: #2c2c2c;
}
/*FOOTER*/
.footer{
padding: 50px 0;
}
.footer-menu{
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
}
.footer-menu li{
  float: left;
  list-style: none;
  line-height: 40px;
}
.footer-menu .copyright{
  float: right;
  padding-right: 26px;
}
.footer-menu a{
  display: block;
  padding: 0 50px;
  color: #2c2c2c;
  text-decoration: none;
}
.footer-menu a:hover{
  text-decoration: underline;
}
